html,body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: transparent;
}

html {
  background: url(triangle.png) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: center;
}

h1,p {
  color: #dff961;
  background-color: #000;
}

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-lg,.btn {
  border: none;
  border-radius: 0;
  background-color: #0DFF76;
}

.btn-default:hover {
  background-color: #FF19C2;
}

.btn-default:focus {
  background-color: #2DE5E5;
}