html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: transparent;
}

html { 
  background: url(triangle.png) center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, p { 
	color: #FFF;
	background-color: #000000;
}

.container-fluid {
    color: #444444;
}

.page-header {background-color: none;}

/*Colors*/

.blue {
background-color: #2DE5E5;
}

.brown {
background-color: #CCAE14;
}

.green {
background-color: #0DFF76;
}

.pink {
background-color: #FF19C2;
}